body{
	font-family: '微软雅黑';
}
.content{
 position:absolute;
 top: 50%;
 left: 50%;
 width: 400px;
 height: 300px;
 margin-left:-200px;
 margin-top:-150px;
/* background: red;*/
}
h1{
	font-size:30px;
	margin-left:20px;
/*	font-family: '微软雅黑';*/
}
.form{
	background:#fff;
	padding:20px;
	background:none;
}
.form input{
	border:none;
	background: none;
	font-family:'微软雅黑';
}
.tel{
	border:1px solid #ccc;
	margin-top:20px;
	padding:10px;
	border-radius: 5px;
}
button{
	margin-top:10px;
	display: block;
	margin:20px auto;
	width: 100%;
	line-height: 40px;
	border:none;
}
input::-webkit-input-placeholder { /* WebKit browsers */
    /*color:red;*/
    font-family:'微软雅黑';
}