 

.content{
	background:url(/static/mobile/image/bgg_02.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	 height:39rem;
	width: 100%;
	padding-top: 28px;
	box-sizing: border-box;
	position: relative;
	
}
.box{
	width:15.725rem;
	height:16.325rem;
	border-radius: 0.25rem;
	background:url(/static/mobile/image/bg.jpg) no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	padding:1.25rem 1rem;
	box-sizing: border-box;
	margin:0 auto;
}
/* .box ul{
	width:100%;
	height:100%;
}
.box li{
	width:4.325rem;
	height:4.35rem;
	border-radius:0.25rem;
	float: left;
	margin:0.125rem;
	cursor: pointer;
} */
/* 效果CSS开始 */
/* #lottery {
	width: 15.725rem;
	height: 16.325rem;
	margin: 0px auto;
	background: url(../images/bg.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	padding:1.25rem 1rem;
	padding: 50px 55px;
} */
#lottery table td.lottery-unit-0{
	background:url(/static/mobile/image/b1.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
#lottery table td.lottery-unit-1{
	background:url(/static/mobile/image/b2.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

#lottery table td.lottery-unit-2{
	background:url(/static/mobile/image/b3.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

#lottery table td.lottery-unit-7{
	background:url(/static/mobile/image/b4.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

#lottery table td.lottery-unit-3{
	background:url(/static/mobile/image/b6.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

#lottery table td.lottery-unit-6{
	background:url(/static/mobile/image/b1.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

#lottery table td.lottery-unit-5{
	background:url(/static/mobile/image/b8.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
#lottery table td.lottery-unit-4{
	background:url(/static/mobile/image/b9.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}




#lottery table td {
	width:4.325rem;
	height:4.35rem;
	text-align: center;
	vertical-align: middle;
	font-size: 24px;
	color: #333;
	font-index: -999
}
#lottery table td a {
	width: 4.4rem;
	height:4.35rem;
	/* line-height: 150px; */
	display: block;
	text-decoration: none;
}
#lottery table td.active {
	-webkit-background-size: 100% 100% !important;
	background-size:100% 100% !important;
	z-index: 10000;
}
.lottery-unit-0.active{
	background:url(/static/mobile/image/b13.png) no-repeat !important;
	-webkit-background-size: cover;
	background-size: cover;
	
}
.lottery-unit-1.active{
	background:url(/static/mobile/image/b12.png) no-repeat !important;
	-webkit-background-size: cover;
	background-size: cover;
	
}
.lottery-unit-2.active{
	background:url(/static/mobile/image/b14.png) no-repeat !important;
	-webkit-background-size: cover;
	background-size: cover;
	
}
.lottery-unit-3.active{
	background:url(/static/mobile/image/b15.png) no-repeat !important;
	-webkit-background-size: cover;
	background-size: cover;
	
}

.lottery-unit-4.active{
	background:url(/static/mobile/image/b16.png) no-repeat !important;
	-webkit-background-size: cover;
	background-size: cover;
}	
.lottery-unit-5.active{
	background:url(/static/mobile/image/b18.png) no-repeat !important;
	-webkit-background-size: cover;
	background-size: cover;
	
}
.lottery-unit-6.active{
	background:url(/static/mobile/image/b13.png) no-repeat !important;
	-webkit-background-size: cover;
	background-size: cover;
}
.lottery-unit-7.active{
	background:url(/static/mobile/image/b17.png) no-repeat !important;
	-webkit-background-size: cover;
	background-size: cover;
	width:4.325rem;
	height:4.35rem;
}


/* 效果CSS结束 */

.box1{
	width:11.05rem;
	height:2.05rem;
    background-color: #953b21;
    border-radius: 1rem;
	border: 4px solid #641703;
	margin:-10px auto;
}
.box1 a{

	font-size: 0.9rem;
	display: block;
	text-align: center;
	line-height: 2.05rem;
	color: #fff;
	letter-spacing: 2px;
}
.box1 a i{
	color: #fbe902;
}
.foot{
	height:2.225rem;
	position: relative;
	padding-top: 3.625rem;
	box-sizing: border-box;
}
.foot1,.foot2{
	position: absolute;
	width:6.75rem;
	height:2.225rem;
	background:#7a2b18;
	top:50%;
	font-size: 0.8rem;
	line-height: 2.225rem;
	text-align: center;
	transform: translateY(-50%);
	color: #fff;
	
}
.foot-menu{
	border-radius: 5px;
}

.current.foot-menu:before {

	content: '';
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #ffc69c;
    left: 50%;
    bottom: -8px;
    margin-left: -5px;

}
.foot1{
	left: 2.5rem;
}

.foot2{	
	right: 2.5rem;

}
.current{
	background:#ffc69c;
}



.footer1{
	width:17.25rem;
	background-color:#ffc69c;
	height:14.425rem;
	margin:0 auto ;
	padding:0.5rem 0.5rem;
	box-sizing: border-box;

	

}
.footerIn1{
	width:80%;
	height:4.25rem;
	float: left;
	
	margin-bottom: 0.45rem;
	background-color: #fff4eb;
}
.footerIn1 p{
	font-size: 0.85rem;
	margin:1.175rem 4.7rem 0.9rem 0.5rem;
	font-weight: bold;
	white-space: nowrap;

}
 span{
	font-size: 0.55rem;
	display: block;
	font-weight: normal;
	margin-top: 0.5rem;
}
em{
	font-style: normal;
	color: #b1b1b1;
}
.footerIn2{
	font-size: 0.55rem;
	width:20%;
	float: right;
	height:4.25rem;
	line-height: 4.25rem;
	background-color: #f35048;
	cursor:pointer;
	text-align: center;
	margin-bottom:0.45rem;
}

.footerIn2 a{
	color: #fff;
}
.footer2{
	width:17.725rem;
	background-color:#ffc69c;
	margin:0 auto ;
	padding:0.5rem 0.5rem;
	box-sizing: border-box;
	display: none;	

}
.footer2 p{
	font-size: 0.6rem;
	line-height:1.2rem;
}



.invited-count-label {
    display: -webkit-inline-box;
    font-size: 0.85rem;
    margin: 0;
}


