.action1{
	 width:18.75rem;
	 height:30.175rem;
	 background:url(/static/mobile/image/yaoqingjiaru.png) no-repeat;
	 -webkit-background-size: cover;
	 background-size: cover;
	 position: relative;
}
.inAction1{
	width:7.575rem;
	height:7.575rem;
	background:url(/static/mobile/image/weima.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	position: absolute;
	left:50%;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	top:15.175rem;
}