<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>上线项目</title>
    <script src="/static/hospital/js/mui.min.js"></script>
    <link href="/static/hospital/css/mui.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/static/hospital/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/hospital/css/iconfont.css"/>
    <script type="text/javascript" charset="utf-8">
      	mui.init();
    </script>
    <style type="text/css">
    	.mui-table-view .mui-media-object {
			height: 50px;
			max-width: 50px;
		}
		.mui-media-body .mui-ellipsis {
			height: 16px;
			line-height: 16px;
			font-size: 12px;
		}
		.mui-table-view-cell {
		    display:none;
		}
		.mui-table-view-cell.mui-media{
			position: relative;
		}
		.mui-btn.mui-btn-outlined{
			width: 80px;
			padding: 2px 0;
		}
    	.mui-btn.mui-btn-outlined.has-two-btn{
    		margin-right: 90px;
    	}
		.mui-control-content{
			min-height:400px;
		}
		.tab-vertical li p{
			line-height: 40px;
		}
		.hidden-subcat {
		    display: none;
		}
    </style>
</head>
<body>
	<div class="mui-content" style="padding: 60px 0 60px 0;">
		<div class="b-search-cont">
			<div class="out-cont">
				<input type="text" name="" id="keyword" value="" placeholder="请输入项目名称或编号"/>
				<div class="icon-cont" id='search-btn'>
					<i class="iconfont">&#xe610;</i>
				</div>
			</div>
		</div>
		<div id="drop-list1" class="self-clear-flow">
			<ul class="tab-vertical fl">
	    		<li class="active">
	    			<p class="size-sm color-black">
	    				全部
	    				<span>({{total}})</span>
	    			</p>
	    		</li>
                {% for cat in cat_list %}
                <li cat-id='{{cat['id']}}'>
                   <p class="size-sm color-black">
                    {{cat['name']}}
                    <span>({{cat['count']}})</span>
                   </p>
                </li>
                {% endfor %}

	    	</ul>
	    	<div class="fr operation-cont bg-white">
	    	   <ul class="mui-table-view select-operation no-after-line">
                    <li class="mui-table-view-cell mui-head-cat mui-head-cat-0 no-after-dotted">
                        全部（{{total}}）
                        <i class="iconfont mui-pull-right">&#xe63e;</i>
                    </li>
                    {% for cat in cat_list %}
                    <li cat-id={{cat['id']}} class="mui-table-view-cell mui-head-cat mui-head-cat-{{cat['id']}} no-after-dotted hospital-subcat-all-{{cat['id']}}">
                        全部（{{cat['count']}}）
                        <i class="iconfont mui-pull-right">&#xe63e;</i>
                    </li>
                    {% endfor %}

        	    	  {% for cat in cat_list %}
                        {% for subcat in cat['sub_cats'] %}
                            <li subcat-id={{subcat['id']}} class="mui-table-view-cell no-after-dotted hospital-subcat hospital-subcat-{{cat['id']}}">
                                {{subcat['name']}}（{{subcat['count']}}）
                                <i class="iconfont mui-pull-right">&#xe627;</i>
                            </li>
                        {% endfor %}
                      {% endfor %}

				</ul>
	    	</div>
		</div>
		<nav class="mui-bar mui-bar-tab">
			<a class="mui-tab-item mui-tab-item1" href="/hospital/" >
				<span class="mui-icon"></span>
				<span class="mui-tab-label">客户订单</span>
			</a>
			<a class="mui-tab-item mui-tab-item2 mui-active" href="/hospital/cat/" >
				<span class="mui-icon"><i class="fa fa-shopping-cart"></i></span>
				<span class="mui-tab-label">上线项目</span>
			</a>
			<a class="mui-tab-item mui-tab-item3" href="/hospital/home/" >
				<span class="mui-icon"><i class="fa fa-tags"></i></span>
				<span class="mui-tab-label">账号</span>
			</a>
		</nav>
	</div>
	<script type="text/javascript" src="/static/hospital/js/jquery.min.js" ></script>
		<script type="text/javascript">
			$(document).ready(function(){
//				菜单的右侧子菜单点击事件
                $(".select-operation li").removeClass("active").find("i").html("&#xe63e;");
				$(".select-operation li").on("click",function(){
					$(".select-operation li").removeClass("active").find("i").html("&#xe63e;");
					$(this).addClass("active").find("i").html("&#xe627;");
					window.t = this;
					var cat_id = this.getAttribute('cat-id');
					var subcat_id = this.getAttribute('subcat-id')
					console.log(cat_id);
					console.log(subcat_id);
					console.log(cat_id+'cat_id,'+subcat_id);
					if(cat_id) {
					   window.location = '/hospital/cat_items/?cat_id='+cat_id;
					} else if(subcat_id) {
					   window.location = '/hospital/cat_items/?sub_cat_id='+subcat_id;
					} else {
					   window.location = '/hospital/cat_items/';
					}
				});
//				菜单的左侧子菜单点击事件
                $('.mui-head-cat').hide();
                $('.mui-head-cat-0').show();
                $('.hospital-subcat').show();
				$(".tab-vertical li").on("click",function(){
				    var cat_id = this.getAttribute('cat-id');
				    //alert(cat_id);
				    $('.mui-head-cat').hide();
				    if(cat_id) {
				        $('.mui-table-view-cell').hide();
				        $('.hospital-subcat-'+cat_id).show();
				        $('.mui-head-cat-'+cat_id).show();
				    } else {
				        $('.hospital-subcat').show();
				        $('.mui-head-cat-'+0).show()
				    }
    				$(".tab-vertical li").removeClass("active");
    				$(this).addClass("active");
    			});
			});
		</script>

    <script>
     var btns = $('.mui-tab-item');
     btns.each(function(i, btn) {
          btn.addEventListener('tap', function() {
            window.location = this.getAttribute('href')
          }
          )
       }
     )
     var search_btn = $('#search-btn')[0];
     search_btn.addEventListener('tap', function() {
        var keyword = $('#keyword').val();
        window.location = window.location = '/hospital/cat_items/?keyword='+keyword;
      }
      )
    </script>
</body>
</html>