<html>

<head>

</head>



<body>


<h1>推广人员登录</h1>

<form id='login-form' action='/promote/login_post' onsubmit='return login()' method="post">

      <div class="form-group loginform-line">
        <label class=''>用户名</label>
        <input class='login-input form-col-4' type="text" name='name' id='login-name-val' class="form-control" placeholder="用户名">
      </div>

      </div>
      <div class="form-group loginform-line">
        <label class="">密码</label>
        <input class='login-input form-col-4' type="password" name='passwd' id='login-passwd-val' class="form-control" placeholder="密码">

      </div>


     <div class="form-group loginform-line">
      <button type="submit" class="btn btn-default" id='login-submit'>登录</button>
    </div>

</form>


<script type="text/javascript" src="/static/vendor/jquery-2.1.1.min.js"></script>

<script>

     var login = function() {
        var data = {
            'name' : $('#login-name-val').val(),
            'passwd': $('#login-passwd-val').val(),
            };
        $.post("/promote/login_post/", data,
           function(data){
             if(data.code==0) {
                alert("登录成功");
                window.location='/promote/';
             } else {
                alert(data.msg);
             }
           });
        return false;
    };
</script>



</body>


</html>