.mui-content{
	background: #fff;
}
.banner {
	position: relative;
}

.banner img {
	width: 100%;
	display: block;
}

.banner .search {
	position: absolute;
	bottom: 20%;
	width: 70%;
	left: 50%;
	margin-left: -35%;
	background: #ff6565;
	padding: 3px;
	border-radius: 5px;
}

.banner .search input {
	margin: 0;
	width: 80%;
	height: 30px;
	border: none;
	font-size: 12px;
}

.banner .search input::-webkit-input-placeholder {
	color: #ff6565;
}

.banner .search span {
	color: #fff;
	float: right;
	margin-right: 5%;
	
	height:25px;
	width:25px;
	background:url(../images/search.png) no-repeat center center;
	background-size:20px 20px;
	margin-top: 3px;
}

.mui-segmented-control {
	padding: 0 10px;
	border: none;
	background: transparent;
	overflow: inherit;
}

.contianer {
	background: #fff0ec;
	position: relative;
	padding-bottom:25px;
	margin-top: -40px;
}

.mui-segmented-control .mui-control-item.mui-active p {
	background: #fff;
	color: #ffb2b2;
	position: relative;
}

.mui-segmented-control .mui-control-item.mui-active p:before {
	content: '';
	position: absolute;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #fff;
	left: 50%;
	bottom: -8px;
	margin-left: -5px;
}

.mui-segmented-control .mui-control-item p {
	background: #ccbebe;
	color: #fff;
	font-size: 16px;
}

.mui-segmented-control .mui-control-item:nth-child(1) p {
	border-radius: 5px 0 0px 5px;
}

.mui-segmented-control .mui-control-item:nth-child(3) p {
	border-radius: 0 5px 5px 0;
}

.mui-segmented-control .mui-control-item:nth-child(2) p {
	margin: auto 5px;
}

.mui-content-padded {
	overflow: hidden;
}

.float {
	width: 49%;
	background: #fff;
	/*height: 200px;*/
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	margin-bottom: 10px;
}
.float:nth-child(odd){
	margin-right: 2%;
}

.float .title {
	background: #ff6565;
	color: #fff;
	line-height: 30px;
	padding: 0 10px;
	overflow: hidden;
	/*padding-left: 10px;*/
}

.float .title span {
	float: left;
	width: 50%;
}

.ranking {
	font-size: 0;
	background: #fff;
	padding-left: 10px;
}

.ranking p {
	display: inline-block;
	width: 50%;
	line-height: 30px;
	color: #000000;
}

.ranking p span {
	color: #FF6565;
	margin-left: 5px;
}

.photo li {
	/*background:greenyellow;*/
	width: 48%;
	/*	height: 80px;*/
	float: left;
	margin-bottom: 4%;
	position: relative;
}

.photo li:nth-child(odd) {
	margin-right: 4%;
}


/*.photo li:nth-child(odd)*/

.photo li .img {
	width: 100%;
	height: 90px;
	display: block;
}

.photo li span {
	position: absolute;
	top: 0;
	/*left: 0;*/
	width: 50px;
	height: 20px;
}

.photo li:nth-child(1) span {
	background: url(../images/before.png) no-repeat 0 0;
	background-size: contain;
}
.photo li:nth-child(4) span {
	background: url(../images/finish.png) no-repeat 0 0;
	background-size: contain;
}
.photo li:nth-child(2) span {
    background: url(../images/afte.png) no-repeat 0 0;
    background-size: contain;
}
.photo li:nth-child(3) span {
    background: url(../images/afte.png) no-repeat 0 0;
    background-size: contain;
}

.photo {
	overflow: hidden;
	padding: 0 5px;
}

.txt {
	text-align: center;
	margin-bottom: 5px;
	color: #ff3a41;
}

.btn {
	display: block;
	margin: 0 auto 10px;
	width: 60%;
	background: url(../images/button.png) no-repeat 0 0;
	background-size: 100% 100%;
	border: none;
	/*height: 30px;*/
	text-align: center;
	color: #fff;
}
.itt span{
	display: block;
	width:130px;
	height: 40px;
	margin:0 auto;
	background:url(../images/more-btn.png) no-repeat 0 0;
	background-size: 100% 100%;
}
.posi{
	position: absolute;
	bottom: 0;
	width: 100%;

}
.rule h3{
	width: 40%;
	background:#ff6565;
	text-align: center;
	color: #fff;
	font-size: 16px;
	line-height: 30px;
	margin:0 auto;
	position: relative;	
}
.rule{
	position: relative;
	margin-top: 10px;
}
.rule:before{
	content: '';
	position: absolute;
	height: 1px;
	background:red;
	width: 25%;
	left: 0;
	top:50%;
}
.rule:after{
	content: '';
	position: absolute;
	height: 1px;
	background:red;
	width: 25%;
	right: 0;
	top:50%;
}
ul.list{
	padding:10px;
}
.redcolr{
	color: #ff6565;
}
.mui-bar-tab{
	height: 40px;
}
.mui-bar-tab .mui-tab-item{
	height: 40px;
	color: #ff6565;
}
.mui-table-view .core{
	position: absolute;
	top:20%;
	width: 100%;
}
.mui-table-view .bg{
	padding:5px;
	background: url(../images/back-bg.png) no-repeat 0 0;
	background-size:100% 100%;
	color:#fff;
}
.mui-table-view p{
	margin-bottom: 5px;
}
.tab li{
	width:48%;
	height: 100px;
	background: url(../images/big-bg.png) no-repeat 0 0;
	background-size: 100% 100%;
	text-align: center;
	margin-bottom: 3%;
	padding-top:25px;
}
.tab li:nth-child(odd){
	margin-right:4%;
}
.tab li p{
	margin-bottom: 5px;
	font-weight: bold;
	color: #462827;
	width: 70%;
	margin:0 auto;
}
.tab li a{
	color: #462827;
}
.tab li .bg{
	padding:5px 10px;
	color: #fff;
	background:url(../images/back-bg.png) no-repeat 0 0;
	background-size:100% 100%;
}
.icon{
	width: 20px;height: 20px;display: inline-block;
	vertical-align: -4px;
	background: url(../images/women.png) no-repeat 0 0;
	background-size: contain;
}
.gift{
	background: url(../images/gift.png) no-repeat 0 0;
	background-size:contain;
	
}
.from{
	width: 80%;	
	background:#fff0ec;
	margin:auto;
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius:10px;
	overflow: hidden;
}
#login{
	height: 166px;
}
.vote-alert{
	height: 420px;
}
#not_found{
	height:100px;
}
.header{
	line-height: 40px;
	background: #ff6565;
	text-align: center;
	color: #fff;
	position: relative;
}
.header span{
	position:absolute;
	width: 30px;
	height: 30px;
	background:url(../images/close.png) no-repeat 0 0;
	background-size:100% 100%;
	margin-top:5px;
	margin-right: 15px;
	right:0px;
}
.from section{
	
	text-align: center;
	padding:20px 20px;
	/*line-height: 100px;*/
}
.from section p{
	color:#ff6565;
	margin-bottom:10px;
}
.from section button{
	width: 60%;
	border:none;
	background:url(../images/button.png) no-repeat 0 0;
	background-size: 100% 100%;
	color: #fff;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
 .ulit{
	height:40px;
	line-height:40px;
	color:#ff6565;
	margin-bottom: 10px;
	display: none;	
}
.ulit img{
	width:20px;
	vertical-align: -5px;
}
.ulit .fr{
	background: url(../images/disb.png) no-repeat 0 0;
	background-size:100% 100%; 
	padding:0 10px;
	color: #fff;
}
.vote-alert p{
	text-align:left;
}
.alert{
	display: none;
}
#ulit{
	height: 120px;
}
ul{
	overflow: hidden;
}
.content{
	overflow: hidden;
	margin-bottom: 10px;
}
.mui-backdrop{
	display:none;
}
.vote-alert{
	display: none;
}
/*.photo a{
	pointer-events:none;
}*/
.mui-bar-tab{
	border-top: 1px solid #c4c2c2;
}
#canyu{
	border-right: 1px solid #c4c2c2;
}

