<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   <title>首页</title>
   <meta name="description" content="">
   <meta name="keywords" content="">
   <link href="/static/promote/css/base.css" rel="stylesheet">
   <link href="/static/promote/css/style.css" rel="stylesheet">
   <link rel="stylesheet" href="/static/promote/font/iconfont.css">
   <style>
    button.li40.page {
        background: white;
        color: red;
    }
    button.li40.page.active{
        color: red;
    }
    .info-table-head {
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
    }
    td.col {
        border-right: 1px solid #DCD4D4;
    }
    .sort-col {
        cursor: pointer;
    }
    .logout-btn {
        color: white;
    }
    .no-result-tip {
        text-align: center;
        padding: 100px; 
        font-size: 40px;
        font-weight: 1000;
    }
    .download-btn {
        margin: 10px auto;
        background: #28a8ea;
        padding: 5px 10px 5px 10px;
        color: white;
    }
    .mark.preson * {
        color: white;
    }
    .mark.remove * {
        color: white;
    }
    input {
        color: black !important;
    }
    table  td {
        border: 0px;
        padding: 5px;
        width: 100px !imporant;
    }
   </style>
</head>
<div class="body">
 <div class="header">
  <div class="left">美分分推广后台管理系统</div>
  <div class='right'>
   <span>{{creator.name}}（{{creator.phone}}）</span>
   <button class='li40 logout-btn' onclick='location="/promote/logout/"'>退出</button>
</div>
</div>
<div class="main">
  <div class="form">
   <div class="fr-hd">
    <div class='fr-left'>
     <button class="li40 action-btn" id='create'>创建推广员</button>
  </div>
  <div class='fr-right'>
    <input id='promoter-phone' type="text" class="li40 search" value='{{phone or ""}}' placeholder='请输入推广员手机号码'>
    {% if not phone %}
    <button id='search-user-phone-btn' class="li40 action-btn search-btn">搜索</button>
    {% else %}
    <button id='search-phone-cancel-btn' class="li40 action-btn cancel-btn">取消</button>
    {% endif %}
 </div>                 
</div>
<table>
 <tr class='info-table-head'>
  <td class='col'>姓名</td>
  <td class='col'>手机号码</td>
  <td class='col sort-col' id='focus'>关注数
     <i class='iconfont'></i>
  </td>
  <td class='col sort-col' id='reg'>注册数<i class="iconfont"></i></td>
  <td class='col'>取消数</td>
  <td class='col'>二维码</td>
  <td>操作</td>
</tr>
</table>
<table style='margin-top:0px;' class="tow">

{% for info in infos %}

  <tr promoter-id='{{info["id"]}}'>
     <td class='col'>{{info.name}}</td>
     <td class='col'>{{info.phone}}</td>
     <td class='col'>{{info.follow_count}}</td>
     <td class='col'>{{info.reg_count}}</td>
     <td class='col'>{{info.unfollow_count}}</td>
     <td class='col's>
      <img src="{{info.image}}" alt="">
   </td>
   <td>
      {% if info['image'] %}
        <a class="li40 download-btn" href="{{info['image']}}" target="_blank" download>下载二维码</a>
      {% else %}
        <a class="li40 " onclick='alert("二维码生成中")'>二维码生成中</a>
      {% endif %}
      <button class="li40 rPreson action-btn">删除推广员</button>
   </td>
</tr>

{% endfor %}

{% if phone and not infos %}
    <h1 class='no-result-tip'>没有找到该推广员</h1>
{% elif not infos %}
    <h1 class='no-result-tip'>没有推广员</h1>
{% endif %}
</table>
<div class="btn">
  {% if page_info.pages|length > 1 %}
  {% if page>1 %}
    <button class="li40 action-btn" onclick='goPage({{page-1}})'>上一页</button>
  {% endif %}
  {% if page>page_info.total %}
    <button class="li40 action-btn" onclick='goPage({{page+1}})'>下一页</button>
  {% endif %}

  {% for thepage in page_info.pages %}
    {% if thepage!='...' %}  
        <button class="li40 action-btn page{%if thepage==page %}active{% endif %}" onclick='goPage({{thepage}})'>{{thepage}}</button>
    {% else %}
        <button class="li40 action-btn" >{{thepage}}</button>
    {% endif %}
  {% endfor %}
  
  <input id='page-index' type="text" style='width:60px;border:1px solid gray;line-height:30px;' class="li40">
  <button class="li40 action-btn" id='go-user-page-btn'>确认</button>
  {% endif %}
</div>
</div>
</div>
</div>
<div class="mark success">
   <p>创建推广员</p>
   <div class="img">
      <img src="/static/promote/images/gou.png" height="64" width="64" alt="">
      <span>创建成功</span>
   </div>
   <button>确认</button>  
</div>
<div class="mark fail">
   <p>创建推广员</p>
   <div class="img">
      <img src="/static/promote/images/error.png" height="64" width="64" alt="">
      <span>创建失败推广员已存在</span>
   </div>
   <button>确认</button>  
</div>
<div class="mark remove">
   <p>删除推广员</p>

   <button class='close del-promoter-btn'>确认</button>
   <button class='close'>取消</button>
</div>
<div class="mark remove－success">
   <p>删除推广员</p>
   <div class="img">
      <img src="/static/promote/images/error.png" height="64" width="64" alt="">
      <span>删除成功</span>
   </div>
   <button class='close del-promoter-btn'>确认</button>
   <button class='close'>取消</button>
</div>
<div class="mark preson">
   <p>创建推广员</p>
   <div class="img">
      <div class="top"><label for="name">姓名&nbsp;&nbsp;</label><input type="text" id='name'></div>
      <div class="buttom"><label for="phone">手机号</label><input type="text" id='phone' ></div>
     
   </div>
   <button id='create-promoter-btn'>确认</button>
   <button class='close'>取消</button>
</div>
<div class="mark ercode">
   <p>创建二维码</p>
   <div class="img">
      <img src="/static/promote/images/error.png" height="64" width="64" alt="">
      <span>创建成功</span>
   </div>
   <button style='margin-right:10px;'>下载二维码</button>
   <button class='close'>关闭</button>
</div>

<script src='/static/promote/js/jquery.min.js'></script>
<script src='/static/user/js/util.js'></script>
<script>
$('#create').on('click',function(){
   $('.preson').show();
})
$('.close').on('click',function(){
   $(this).parent('.mark').hide();
});
$('.rPreson').on('click',function(){
   $('tr').removeClass('active');
   //alert($(this).parent().parent().attr('promoter-id'));
   $(this).parent().parent().addClass('active');
   $('.remove').show()
})
$('.download').on('click',function(){
   $('.ercode').show()
});
var page_info_total = {{page_info.total or 0}}

var sort_type={{sort_type}};
var _sort_dir='{{_sort_dir}}';
{% if sort_type==1 and _sort_dir=='ASC' %}
    var focusOff=false;
    var regOff=false;
    $('#focus').find('i').html('&#xe6af;')

{% elif sort_type==2 and _sort_dir=='ASC'  %}
    var focusOff=false;
    var regOff=false;
    $('#reg').find('i').html('&#xe6af;')

{% elif sort_type==1 and _sort_dir!='ASC'  %}
    var focusOff=true;
    var regOff=false;
    $('#focus').find('i').html('&#xe6b0;')

{% elif sort_type==2 and _sort_dir!='ASC' %}
    var focusOff=false;
    var regOff=true;
    $('#reg').find('i').html('&#xe6b0;')

{% else %}
    var focusOff=false;
    var regOff=false;
{% endif %}

$('#focus').on('click', function(event) {
   $('#reg').find('i').html('');
   regOff = false;
   if (focusOff) {//升序
       sortPage(1, 1)
   }else{
       sortPage(1)
   } 
   console.log(focusOff);
});
$('#reg').on('click', function(event) {
   $('#focus').find('i').html(''); focusOff=false;
   if (regOff) {
       sortPage(2, 1)
   }else{     
       sortPage(2)
   }
   console.log(regOff);
});


$('.del-promoter-btn').on('click', function(){
    var choosen_tr   = $('tr.active');
    if(!choosen_tr) {
        alert('请选择要删除的推广员');
    } else {
      var promoter_id = choosen_tr.attr('promoter-id');
      var data        = {
        promoter_id: promoter_id
        }
      $.post("/promote/del_promoter/", data,
           function(data){
             if(data.code==0) {
                alert(data.msg);
                window.location='/promote/';
             } else {
                alert(data.msg);
             }
           });
    
    
    
    }
    
})

$('#search-user-phone-btn').on('click', function(event) {
    var phone = $('#promoter-phone').val();
    if(phone && phone.length!=11) {
        return alert('请输入11位手机号码');
    }else{
        var data    = Common.UrlGet();
        data['phone']=phone
        window.location = '/promote/get_promoter_list/?'+$.param(data);
    }
});


$('#search-phone-cancel-btn').on('click', function(event) {
    window.location = '/promote/';
});

$('#go-user-page-btn').on('click', function(event) {
    var page = $('#page-index').val();
    goPage(page);
});

function sortPage(sort_type, _sort_dir) {
    var data    = Common.UrlGet();
    data['sort_type']=sort_type;
    data['_sort_dir']=_sort_dir;
    window.location = '/promote/get_promoter_list/?'+$.param(data);

}
function goPage(page) {
    if(!(page<=page_info_total)){
        return alert('分页不超过'+page_info_total);
    }
    var data    = Common.UrlGet();
    data['page']=page;
    window.location = '/promote/get_promoter_list/?'+$.param(data);
}

$('#create-promoter-btn').on('click', function(event) {
    var phone = $('#phone').val();
    var name  = $('#name').val();
    if(phone.length!=11) {
        return alert('请输入11位手机号码');
    }
    if(!name) {
        return alert('请输入手机号');
    }
    var data = {
        name: name,
        phone:phone
        }
    $.post("/promote/create_promoter/", data,
           function(data){
             if(data.code==0) {
                alert(data.msg);
                window.location='/promote/';
             } else {
                alert(data.msg);
             }
           });
});



</script>
</html>
