
<style>
.verify-btn {
    display: inline-block;
}
.apply-photos {
    max-width: 150px;
    margin-bottom: 10px;
}
.supply-infos label {
    width: 200px;
}
.edit-supply-btn {
    font-size: 25px;
    margin-left: 5px;
}
.app-content {
    border: 0px !important;
}
</style>


<div class='app-content'>

    <h1>寝室详情</h1>

    <hr>

    <div class='apply-infos'>
      <label>寝室名</label>{{room.room_name}}
      <br />
      <label>美分分用户</label><a href='#/index/user_detail/{{room.user.id}}'>{{room.user.name}}</a>
      <br />
      <label>申请人名</label>{{room.applyer_name}}
      <br />
      <label>电话</label>{{room.phone}}
      <br />
      <label>地址</label>{{room.addr}}
      <br />
      <label>序号</label>{{room.apply_no}}
      <br />
      <label>地址</label>{{room.addr}}
      <br />
      <label>票数</label>{{room.vote_count}}
      <br />
      <label>排名</label>{{room.rank}}
      <br />
      <label>创建时间</label>{{room.create_time}}
      <br />
      <label>照片列表</label>
      <div ng-repeat='pic in room.pic_list'>
        <label>{{$index+1}}</label><img class='apply-photos' ng-click='viewImage(pic)' ng-src='{{pic}}' ng-if='pic&&pic.length>0'></img>
        <br/>
     </div>
    </div>

</div>


