
<div class='app-content'>
    <h1 ng-if='!is_edit'>添加试用</h1>
    <h1 ng-if='is_edit'>编辑试用</h1>

    <hr/>

  <form id='trialform' ng-submit='addItem()'>

      <div class="form-group">
        <label for="">试用名称</label>
        <input type="text" name='title' ng-model='item.title' class="form-control" placeholder="名称">
      </div>

      <div class="form-group">
        <label for="">类型</label>
        <label class="radio-inline">
          <input type="radio" ng-model="item.cat"  name='cat' value="0">免费礼品
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="item.cat"  name='cat' value="1">代金券
        </label>
      </div>

      <div class="form-group">
          <label for="">商品小图</label>
          <image-field fieldname='"image"' image='item.image'></image-field>
      </div>

      <div class="form-group">
        <label for="">数量</label>
        <input type="text" name='total' ng-model='item.total' class="form-control" placeholder="数量">
      </div>

      <div class="form-group">
          <label for="">开始日期</label>
          <datetime-field val='item.start_time' fieldname='"start_time"'></datetime-field>
      </div>

      <div class="form-group">
          <label for="">结束日期</label>
          <datetime-field val='item.end_time' fieldname='"end_time"'></datetime-field>
      </div>

      <div class="form-group" ng-if='item.cat==1'>
        <label for="">商品优惠券</label>
        <select class="form-group" ng-controller="ngCoupon"
            chosen
            allow-single-deselect="true"
            data-placeholder="选择优惠券"
            no-results-text="'没找到'"
            ng-model="item.coupon_id"
            ng-options="o.id as o.title for o in optionsData"
            style="width:200px;">
            <option value=""></option>
        </select>
        <input type="text" name='coupon_id' ng-model='item.coupon_id' style='display:none;'>
      </div>

      <label for="">流程</label>
      <text-angular name='process' ng-model="item.process"></text-angular>

      <label for="">试用规则</label>
      <text-angular name='rules' ng-model="item.rules"></text-angular>

      <button type="submit" class="btn btn-default" >提交</button>
  </form>
   

</div>