<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>帮助中心</title>
    <script src="/static/user/js/mui.min.js"></script>
    <link href="/static/user/css/mui.css" rel="stylesheet"/>
    <script type="text/javascript" charset="utf-8">
      	mui.init();
    </script>
    <style type="text/css">
    	.mui-badge{
    		background: none;
    		color: #9B9B9B;
    	}
    	.mui-table-view-cell .mui-navigate-right > .mui-badge.size-big{
    		font-size: 14px;
    	}
    </style>
</head>
<body>
	<div class="mui-content">
	   {% for cat in cats %}
	    <ul class="mui-table-view mui-table-view-chevron" style='margin-top:10px'>
			<li class="mui-table-view-cell">
				<a class="{% if not cat_id %}mui-navigate-right{% endif %}">
					<span class="color-grey">{{cat['name']}}</span>
					{% if not cat_id %}
					<span class="mui-badge size-big" onclick='location="/user/help.html?cat_id={{cat['id']}}"'>全部</span>
					{% endif %}
				</a>
			</li>
			{% for entry in cat['entry_list'] %}
			<li class="mui-table-view-cell">
				<a href="/user/get_help_entry/?entry_id={{entry['id']}}">
					{{entry['title']}}
				</a>
			</li>
			{% endfor %}
		</ul>
		{% endfor %}

	</div>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="http://www.meifenfen.com/user/jssdk.js"></script>	
</body>
</html>