{% extends 'user/list_filters.html' %}

{% block title %}
        <title>{{subcat['name']}}      </title>
        <link rel="stylesheet" type="text/css" href="/static/user/css/cyy.css" />

{% endblock %}

{% block content %}
       <div class="noCoupon" style="text-align: center;display: none;">
            <img src="/static/user/img/icon-no-repay.png" style="width: 20%;margin-top: 50px;">
            <p>暂无医院</p>
            <p>美丽分期，为自己加分</p>
        </div>          
        <div class="mui-card" style="padding: 1px; display: block;">
            <ul class="mui-table-view item-list" style="margin-top: 0;">
                <li class="mui-table-view-cell no-after-dotted mui-media" style='display: none;'>
                    <a href="A-hospital-detail.html">
                        <img class="mui-media-object mui-pull-left" src="/static/user/img/pic1.png">
                        <div class="mui-media-body">
                            <div class="h4" style="overflow: hidden;margin-top: 5px;"><span class="mui-pull-left mui-ellipsis yytitle" style="width:75%;">最新华丽美版Ulthera 还你紧致童颜</span> <span class="mui-pull-right">4.8分</span></div>
                            <p>
                                <span class="aptitude color-blue size-sm">高水准技术</span>
                                <span class="aptitude color-blue size-sm">高水准技术</span>
                            </p>
                            <p class='mui-ellipsis top15'>
                                上海市黄浦区人民广场路100号
                            </p>                                
                        </div>
                        <div class="warp">
                            <p>微整形、眼部、鼻部、牙齿、脸部，共26个整形项目</p>                     
                        </div>
                    </a>                                            
                </li>
            </ul>

        </div>
{% endblock %}
            
{% block bottomscript %}
    <script src='/static/user/js/cyy.js'></script>

 
{% endblock %}

