<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
        <title>{{hospital.name}}地址</title>        <link href="/static/user/css/mui.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main.css?v=1.0"/>
    <script type="text/javascript"  src="http://webapi.amap.com/maps?v=1.3&key=da03b0f06b056963d2f823d6ddffad6c"></script>
    <style type="text/css">
      
                    body,
            html{
                width: 100%;
                height: 100%;
            }
            .mui-content {
                position: fixed;
                bottom: 0px;
                width: 100%;
                z-index: 1000;
                }
            .amap-icon img {
                width: 19px;
                height: 30px;
                top: 2px !important;
            }
    </style>
</head>
<body>
<div id="mapContainer"></div>

        <div class="mui-content">
            <ul class="mui-table-view" style="margin-top: 0;">
                <li class="mui-table-view-cell">
                    {{hospital.name}}
                </li>
                <li class="mui-table-view-cell color-grey size-sm">
                    {{hospital.addr}}
                </li>
            </ul>
        </div>

<script type="text/javascript">

    //初始化地图对象，加载地图
    var map = new AMap.Map('mapContainer', {
        center: new AMap.LngLat({{hospital.lng}}, {{hospital.lat}}),
        level: 15,
        resizeEnable: true
    });
    //地图中添加地图操作ToolBar插件

        var p = new AMap.LngLat({{hospital.lng}}, {{hospital.lat}});
            var marker = new AMap.Marker({
                position: p,
                icon: 'http://webapi.amap.com/theme/v1.3/markers/b/mark_rs.png',
                size:new AMap.Size(18,20),
            });
            map.clearMap();
            map.setCenter(p);
            marker.setMap(map);
  
</script>
</body>
</html>
