<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>{{question.question}}--红包问题详情</title>
		<script src="/static/user/js/mui.min.js" type="text/javascript" charset="utf-8"></script>

		<style type="text/css">

		</style>

	</head>

	<body>
	        <p>ID : {{question.id}}</p>
            <p>问题：{{question.question}}</p>
            <p>问题id：{{question.question_id}}</p>
            <p>答案: {% if has_viewed %}{{question.answer}}{% else %}请发红包后查看{% endif %}</p>
            <p>金额: {{question.price}}</p>
            <p>随机金额: {{question.is_random}}</p>
			<button id='submit'>查看答案</button>

		</div>
        <script src='/static/user/js/util.js'></script>
		<script src='/static/user/js/jquery.min.js'></script>
		<script>
		$.fn.serializeObject = function()
        {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function() {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };
      function payWechat(params){
            WeixinJSBridge.invoke(
             'getBrandWCPayRequest', {
                 "appId" : params.appId,     //公众号名称，由商户传入     
                 "timeStamp": params.timeStamp,         //时间戳，自1970年以来的秒数     
                 "nonceStr" : params.nonceStr, //随机串     
                 "package" : params.package,     
                 "signType" : params.signType,         //微信签名方式:     
                 "paySign" : params.paySign //微信签名 
             },
            function(res){    
                a = JSON.stringify(res)
                //alert(a);
                if(res.err_msg == "get_brand_wcpay_request:ok" ){
                  //alert('支付成功');
                  window.location = '/user/question_detail/'+location.search;
                  return true;
                }else(res.err_msg=='get_brand_wcpay_request:cancel' || res.err_msg=='get_brand_wcpay_request:fail')
                {
                  alert('未支付成功')
                  return false
                }
            }
         ); 
      }
		$(document).ready(function(){ 
            
        }); 


		</script>
	</body>
</html>