 	.mui-segmented-control .mui-control-item.mui-active{
			color: #FF6565;
			background: #FFF;
			border-bottom: 2px solid #FF6565;
		}
		.mui-segmented-control{
			border: none;
			border-bottom: 1px solid #ECECEC;
			border-radius: 0;
			background: #FFF;
		}
		.mui-segmented-control .mui-control-item{
			border-left:none;
		}
		.mui-segmented-control .mui-control-item{
			color: #000;
		}
    	/*没有代金券*/
    	.no-coupon{
    		height: 100px;
    		width: 100px;
    		position: absolute;
    		top:50%;
    		left: 50%;
    		margin: -50px 0 0 -50px;
    		text-align: center;
    	}
    	.no-coupon img{
    		height: 60px;
    		width: 60px;
    	}
    	/*没有代金券结束*/
    	
		.coupon-cont{
			height: 100px;
			width: 100%;
			position: relative;
			/*border: 1px solid #ECECEC;*/
			/*background: #FFF;*/
		}
		/*.coupon-cont .stamp{
			height: 65px;
			position: absolute;
			top: 10px;
			right: 10px;
		}*/
		.coupon-cont .fl{
			width: 32%;
			height: 100%;
			line-height: 100px;
			text-align: center;
			color: #FFF;
			font-size: 26px;
			font-weight: bold;
		}
		.coupon-cont .fl.yellow{
			background: url(../img/coupon-bg-yellow.png) no-repeat center center;
			background-size: 100% 100%;
		}
		.coupon-cont .fl.blue{
			background: url(../img/coupon-bg-blue.png) no-repeat center center;
			background-size: 100% 100%;
		}
		.coupon-cont .fl.grey{
			background: url(../img/coupon-bg-grey.png) no-repeat center center;
			background-size: 100% 100%;
		}
		.coupon-cont .fr{
			width: 68%;
			height: 100%;
			border-width: 1px 1px 1px 0;
			border-style: solid;
			border-color:#ECECEC;
			background: #FFF;
			padding: 14px;
		}
		.coupon-cont .fr.used{
			background: url(../img/coupon-used.png) #FFF no-repeat 95% 30%;
			background-size: 70px 70px;
		}
		.coupon-cont .fr.pased{
			background: url(../img/coupon-pased.png) #FFF no-repeat 95% 30%;
			background-size: 70px 70px;
		}
		.coupon-cont .fr h4{
			font-size: 16px;
		}
		.noCoupon{
			display: none;
		}
		
		/*底部代金券*/
		.mui-bar span{
			display: block;
			margin:10px auto;
			height: 30px;
			line-height: 30px;
			text-align: center;
			border:1px solid #ccc;
			border-radius: 10px;
			width:40%;
		}