@CHARSET "UTF-8";
.animated {
	-webkit-animation-duration: 1.4s;
	animation-duration: 1.4s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

@-webkit-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
		transform: scale(.3)
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1.05);
		transform: scale(1.05)
	}
	70% {
		-webkit-transform: scale(.9);
		transform: scale(.9)
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

@keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
		-ms-transform: scale(.3);
		transform: scale(.3)
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1.05);
		-ms-transform: scale(1.05);
		transform: scale(1.05)
	}
	70% {
		-webkit-transform: scale(.9);
		-ms-transform: scale(.9);
		transform: scale(.9)
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1)
	}
}

.bounceIn {
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn
}

@-webkit-keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		-moz-transform: translateY(-2000px);
		transform: translateY(-2000px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateY(30px);
		-moz-transform: translateY(30px);
		transform: translateY(30px);
	}
	80% {
		-webkit-transform: translateY(-10px);
		-moz-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	100% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		-moz-transform: translateY(-2000px);
		-ms-transform: translateY(-2000px);
		transform: translateY(-2000px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateY(30px);
		-moz-transform: translateY(30px);
		-ms-transform: translateY(30px);
		transform: translateY(30px);
	}
	80% {
		-webkit-transform: translateY(-10px);
		-moz-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	100% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
}

.bounceInDown {
	-webkit-animation-name: bounceInDown;
	-moz-animation-name: bounceInDown;
	animation-name: bounceInDown;
}

@-webkit-keyframes bounceOutUp {
	0% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
	20% {
		opacity: 1;
		-webkit-transform: translateY(20px);
		-moz-transform: translateY(20px);
		transform: translateY(20px);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		-moz-transform: translateY(-2000px);
		transform: translateY(-2000px);
	}
}

@keyframes bounceOutUp {
	0% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	20% {
		opacity: 1;
		-webkit-transform: translateY(20px);
		-moz-transform: translateY(20px);
		-ms-transform: translateY(20px);
		transform: translateY(20px);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		-moz-transform: translateY(-2000px);
		-ms-transform: translateY(-2000px);
		transform: translateY(-2000px);
	}
}

.bounceOutUp {
	-webkit-animation-name: bounceOutUp;
	-moz-animation-name: bounceOutUp;
	animation-name: bounceOutUp;
}

@-webkit-keyframes rollIn {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100%) rotate(-120deg);
		-moz-transform: translateX(-100%) rotate(-120deg);
		transform: translateX(-100%) rotate(-120deg);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0px) rotate(0deg);
		-moz-transform: translateX(0px) rotate(0deg);
		transform: translateX(0px) rotate(0deg);
	}
}

@keyframes rollIn {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100%) rotate(-120deg);
		-ms-transform: translateX(-100%) rotate(-120deg);
		transform: translateX(-100%) rotate(-120deg);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0px) rotate(0deg);
		-ms-transform: translateX(0px) rotate(0deg);
		transform: translateX(0px) rotate(0deg);
	}
}

.rollIn {
	-webkit-animation-name: rollIn;
	animation-name: rollIn;
}

@-webkit-keyframes flipInX {
	0% {
		-webkit-transform: perspective(400px) rotateX(90deg);
		transform: perspective(400px) rotateX(90deg);
		opacity: 0;
	}
	40% {
		-webkit-transform: perspective(400px) rotateX(-10deg);
		transform: perspective(400px) rotateX(-10deg);
	}
	70% {
		-webkit-transform: perspective(400px) rotateX(10deg);
		transform: perspective(400px) rotateX(10deg);
	}
	100% {
		-webkit-transform: perspective(400px) rotateX(0deg);
		transform: perspective(400px) rotateX(0deg);
		opacity: 1;
	}
}

@keyframes flipInX {
	0% {
		-webkit-transform: perspective(400px) rotateX(90deg);
		-ms-transform: perspective(400px) rotateX(90deg);
		transform: perspective(400px) rotateX(90deg);
		opacity: 0;
	}
	40% {
		-webkit-transform: perspective(400px) rotateX(-10deg);
		-ms-transform: perspective(400px) rotateX(-10deg);
		transform: perspective(400px) rotateX(-10deg);
	}
	70% {
		-webkit-transform: perspective(400px) rotateX(10deg);
		-ms-transform: perspective(400px) rotateX(10deg);
		transform: perspective(400px) rotateX(10deg);
	}
	100% {
		-webkit-transform: perspective(400px) rotateX(0deg);
		-ms-transform: perspective(400px) rotateX(0deg);
		transform: perspective(400px) rotateX(0deg);
		opacity: 1;
	}
}

.flipInX {
	-webkit-backface-visibility: visible !important;
	-ms-backface-visibility: visible !important;
	backface-visibility: visible !important;
	-webkit-animation-name: flipInX;
	animation-name: flipInX;
}


/*------------------- 华丽分割线 -----------------------*/

#dialogBg {
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: .6;
	filter: alpha(opacity=60);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}


/*额度申请弹窗*/

#apply-pop {
	color: #9B9B9B;
	font-size: 17px;
}

.dialog {
	width: 300px;
	margin: 0 auto;
	display: none;
	background-color: #ffffff;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 100;
	/*border: 1px solid #ccc;*/
	border-radius: 4px;
	/*padding: 14px;*/
}

#apply-dialog {
	height: 200px;
	margin: -100px 0 0 -150px;
}

#cancel-dialog {
	height: 140px;
	margin: -70px 0 0 -150px;
}

.dialog .text-cont,
.dialog .text-cont-left {
	padding: 0 14px;
	margin: 14px 0;
}

.dialog .text-cont {
	text-align: center;
}

.dialog .btn-ul {
	width: 100%;
	overflow: hidden;
	border-top: 1px solid #ECECEC;
	position: absolute;
	bottom: 0;
	left: 0;
}

.dialog .btn-ul li {
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
}

.dialog .btn-ul li:first-of-type {
	/*border-right: 1px solid #ECECEC;*/
}

.dialog .btn-ul li a {
	display: inline-block;
	height: 40px;
	width: 100%;
	cursor: pointer;
}


/*项目样式*/

html {
	min-height: 100%;
	width: 100%;
}

.mui-card {
	margin:10px;
}

#drop-list1 {
	height: 280px;
	overflow-y: scroll;
	border-bottom: 1px solid #D8D8D8;
	display: block;
}

#drop-list1,
#drop-list2,
#drop-list3 {
	position: absolute;
	top: -264px;
	left: 0;
	width: 100%;
	z-index: 5;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	z-index: 100;
	background: #fff;
}

#dialogBg {}

.drop-list i {
	font-size: 22px;
	color: #9B9B9B;
}

.drop-list .active,
.drop-list .active i {
	color: #FF6565;
}

.free {
	width: 25px;
	height: 25px;
	position: absolute;
	top: 0;
	left: 0;
}

ul#select_tit {
	z-index: 9999;
	overflow: hidden;
}


/*v2首页样式*/

.entrance-pic {
	width: 100%;
	overflow: hidden;
	background: #FFF;
	padding: 10px 0 10px
}

.entrance-pic li {
	width: 25%;
	float: left;
	text-align: center;
}

.entrance-pic li p {
	font-size: 14px;
	margin-top: -3px;
}

.entrance-pic li a {
	position: relative;
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 auto;
}

.entrance-pic li .zxm {
	background: url(../img/zxm.png) no-repeat 10px center;
	background-size: 70%;
}

.entrance-pic li .cyy {
	background: url(../img/cyy.png) no-repeat center center;
	background-size: 70%;
}

.entrance-pic li .mgl {
	background: url(../img/mgl.png) no-repeat 13px center;
	background-size: 40%;
}
.entrance-pic li .mryhq {
	background: url(../img/mryhq.jpg) no-repeat 6px center;
	background-size: 75%;
}
.entrance-pic li .edsq {
	background: url(../img/sqed.jpg) no-repeat 6px center;
	background-size: 75%;
}
.entrance-pic li .djq {
	background: url(../img/djq.png) no-repeat 7px center;
	background-size: 70%;
}

.entrance-pic li img {
	width: 60px;
}

.h-list .h-cell {
	width: 32%;
	float: left;
	margin-right: 2%;
	text-align: center;
}

.h-list .h-cell:nth-child(3) {
	margin: 0;
}

.h-list .h-cell .mui-ellipsis {
	margin-top: 0.1rem;
	font-size: 10px;
}

.h-list .h-cell a {
	display: block;
	position: relative;
	/*border-radius: 10px;*/
	overflow: hidden;
}

.h-list .h-cell a div {
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 0, .2);
	color: #fff;
	width: 100%;
	text-align: right;
	height: 20px;
	line-height: 20px;
}

.h-list .h-cell a span {
	background: url(../img/span-bg.png) no-repeat 0px center;
	background-size: 100% 100%;
	padding: 1px 9px 1px 5px;
	line-height: 14px;
	margin-top: 2px;
	font-size: 10px;
	position: absolute;
	color: #fff;
	left: 4px;
	bottom: 2px;
}

.h-list .h-cell a div i {
	font-style: normal;
	margin-right: 5px;
}

.h-list .h-cell img {
	width: 100%;
	display: block;
}

.tag {
	background: red;
	color: #fff;
	padding: 2px 7px;
	font-size: 10px;
	border-radius: 10px;
}

.tag:nth-of-type(1) {
	background: #ffb1b1;
}

.tag:nth-of-type(2) {
	background: #ffd553;
}

.tag:nth-of-type(3) {
	background: #a3d8ff;
}

.tag:nth-of-type(4) {
	background: #80e1ce;
}

.w50 {
	width: 49%;
	float: left;
	box-sizing: border-box;
	padding: 0 0px 10px;
}

.w50:nth-child(2) {
	padding-left: 10px;
	margin-right: 2%;
}

.w50:nth-child(3) {
	padding-right: 10px;
}

.w50 a {
	display: block;
	width: 100%;
	position: relative;
	/*border-radius:10px;*/
	overflow: hidden;
}

.w50 a div {
	/*position: absolute;*/
	bottom: 0;
	width: 100%;
	margin-top: 5px;
	/*text-align: right;*/
	text-indent: 20px;
	color: #ababab;
	background: url(../img/date-hui.png) no-repeat 0 5px;
	background-size: auto 12px;
}

.w50 a div span {
	margin-right: 5px;
	font-size: 12px;
}

.w50 a img {
	width: 100%;
	display: block;
}

.h-list {
	padding: 0 10px 11px;
}

.recommend .mui-table-view-cell {
	left: -11px;
	padding: 7px 15px 11px;
}

.close.mui-navigate-right:after {
	top: 55%;
}