

<div class='app-content'>

    <h1>额度申请列表</h1>

    <hr>


   <form class="form-inline">
      <button class='apply-status-btn' ng-class="[{active: filters.apply_status==option.id}]" ng-click='chooseStatus(option.id)' ng-repeat='option in apply_status_choices'>{{option.title}}</button>
    </form>


    <div>
        <table class="table table-hover" ng-if="true" style='margin:0'>
          <thead>
            <tr>
              <th>序号</th>
              <th>姓名</th>
              <th>用户</th>
              <th>状态</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="info in infos">
              <td>{{info.id}}</td>
              <td>{{info.name}}</td>
              <td>
                <a href='#/index/user_detail/{{info.user.id}}'>{{info.user.name}}</a>
              </td>
              <td>
                <span ng-if='info.status==1'>待审核</span>
                <span ng-if='info.status==2'>待补充</span>
                <span ng-if='info.status==3'>通过</span>
                <span ng-if='info.status==4'>被拒</span>
              </td>
              <td class='item-actions'>
                <a href='#/index/apply_detail/{{info.id}}'>详情</a>
              </td>
            </tr>
          </tbody>
        </table>
        <nav>
            <ul class="pagination item-pagination" ng-if="page_info.total>1">
                <li>
                  <a href="#" aria-label="Previous" ng-click='routeTo(1)'>
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li ng-repeat="page in page_info.pages" ng-class="[{active: currentpage==page}]">
                    <a ng-click='routeTo(page)' ng-if='page>0'>{{page}}</a>
                    <span ng-if='!(page>0)' style='color:gray;'>...</span>
                </li>
                <li>
                  <a href="#" aria-label="Next" ng-click='routeTo(page_info.total)'>
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
            </ul>
            <span ng-if='total' class='page-item-count'>共{{total}}条</span>
        </nav>
    </div>

</div>