
<style>
.verify-btn {
    display: inline-block;
}
.apply-photos {
    max-width: 150px;
    margin-bottom: 10px;
}
.supply-infos label {
    width: 200px;
}
.edit-supply-btn {
    font-size: 25px;
    margin-left: 5px;
}
</style>


<div class='app-content'>

    <h1>额度申请详情</h1>

    <hr>


    <div class='apply-infos'>
         <label>美分分用户</label>    <a href='#/index/user_detail/{{item.user.id}}'>{{item.user.name}}</a>
        <br />
        <label>提交时间</label> {{item.create_time}}
        <br />
        <label>学信用户名</label>    <span> {{item.chsi_name}}<button class='action-btn btn-default verify-btn' ng-if='item.chsi_name=="18801794295"' ng-click='verifyChsi(item.user.id)'>查询</button></span>
        <br />
        <label>学信密码</label>       <span ng-if='true'>{{item.chsi_passwd}}</span>
        <br />
        <label>毕业时间</label>           {{item.graduate_time}}
        <br />
        <label>父母联系方式</label>           {{item.parent_contact}}
        <br />

    <div ng-if='item.has_supply&&!is_edit_supply||(item.status==3&&!is_edit_supply)' class='supply-infos'>
        <span style='font-size:25px' ng-click='toggleEditSupply()'>补充资料</span><a class='edit-supply-btn' ng-click='toggleEditSupply()'>修改</a>
        <br>
        <label>真实姓名</label> {{item.name}}
        <br />
        <label>身份证号</label>               {{item.id_no}}
        <br />
        <label>学校</label>           {{item.school}}
        <br />
        <label>学号</label>                 {{item.stu_no}}
        <br />
        <label>学制</label>           {{item.stu_years}}
        <br />
        <label>学历</label>           {{item.stu_education}}
        <br />
        <label>专业</label>             {{item.major}}
        <br />
        <label>入学时间</label>             {{item.enrollment_time}}
        <br />
        <label>地址</label>               {{item.addr}}
        <br />
        <label>身份证照片</label>
        <img class='apply-photos' ng-click='viewImage(item.id_card_photo)' ng-src='{{item.id_card_photo}}'></img>
        <br />
        <label>学生证照片</label>
        <img class='apply-photos' ng-click='viewImage(item.stu_card_photo)'  ng-src='{{item.stu_card_photo}}'></img>
        <br>

    </div>
        <label>当前状态</label>
            <span>
                <span ng-if='item.status==1'>待审核</span>
                <span ng-if='item.status==2&&!item.has_supply'>待补充资料</span>
                <span ng-if='item.status==2&&item.has_supply'>待确认通过</span>
                <span ng-if='item.status==3'>通过</span>
                <span ng-if='item.status==4'>被拒</span>
            </span>
        <br/>
        <label ng-if='item.status==4'>被拒原因</label>
        <p ng-if='item.status==4' style='display:inline-block'>{{item.reason}}</p>
        <label ng-if='item.status==3'>当前额度</label>
        <p ng-if='item.status==3' style='display:inline-block'>{{credit.total}}</p>
    <div style='display:table'>
        <div class='apply-actions' ng-if='item.status==1'>
            <button class='action-btn btn-normal' ng-click='toSupply(item.id)'>学信账户正确，去补充资料?</button>
            <button class='action-btn btn-danger' ng-click='Reject()'>拒绝</button>
        </div>

        <div class='apply-actions' ng-if='item.status==2'>
            <button class='action-btn btn-normal' ng-if='item.has_supply' ng-click='Approve()'>通过</button>
            <button class='action-btn btn-danger' ng-click='Reject()'>拒绝</button>
        </div>
        <div class='apply-actions' ng-if='item.status==3'>
            <button class='action-btn btn-danger' ng-click='Reject()'>拒绝</button>
        </div>
        <div class='apply-actions' ng-if='item.status==4'>
            <button class='action-btn btn-normal' ng-if='item.has_supply' ng-click='Approve()'>通过</button>
        </div>
    </div>
</div>


    <div ng-if='(!item.has_supply&&item.status==2)||is_edit_supply'>
        <label style='font-size:25px;' ng-click='toggleEditSupply()'>补充资料</label>
        <br>
    <form class="form-horizontal" ng-submit='submitSupply()'>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">真实姓名</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" ng-model='supply.name' id="" placeholder="请输入真实姓名" required>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">身份证号</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" ng-model='supply.id_no' id="" placeholder="请输入身份证号" required>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">学校</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  ng-model='supply.school' id="" placeholder="请输入学校" required>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">学号</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  ng-model='supply.stu_no' id="" placeholder="请输入学号" required>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">学制</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  ng-model='supply.stu_years' id="" placeholder="请输入学制" required>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">学历</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  ng-model='supply.stu_education' id="" placeholder="请输入学历" required>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">专业</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  ng-model='supply.major' id="" placeholder="请输入专业" required>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-sm-2 control-label">入学时间</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  ng-model='supply.enrollment_time' id="" placeholder="请输入入学时间 格式2015-09-01" required>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">毕业时间</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  ng-model='supply.graduate_time' id="" placeholder="请输入毕业时间 格式2019-07-01" required>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">提交</button>
        </div>
      </div>
    </form>
    </div>

    </div>

    </div>

