

<div class='app-content'>

    <h1>医院列表</h1>
    <p class="lead">
        <a href='#/index/new_hospital'>添加医院</a>
    </p>

    <hr>


    <form class="form-inline">
      <toggle-switch ng-model="filters.is_recommend"  on-label='推荐' off-label='全部' knob-label='' on-change='routeTo(1)'></toggle-switch>
      <div class="form-group">
        <label for="title" style='display:none'>名称</label>
        <input type="text" class="form-control" ng-model='filters.keyword' placeholder="搜索名字">
      </div>
      <button type="submit" class="btn btn-default" ng-click='routeTo(1)'>搜索</button>
      <button type="submit" class="btn btn-default" ng-click='reset()'>清空条件</button>
    </form>

    <div>
        <table class="table table-hover" ng-if="true" style='margin:0'>
          <thead>
            <tr>
              <th>序号</th>
              <th>名称</th>
              <th ng-if='filters.is_recommend'>排序</th>
              <th>状态</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="info in infos">
              <td>{{info.id}}</td>
              <td>{{info.name}}</td>
              <td ng-if='filters.is_recommend'>
                  <order-field action='"/admin/set_recommend_hospital_order/"' item='info'></order-field>
              </td>
              <td>
                  <span ng-if='info.status==1'><i class="fa fa-check"></i></span>
                  <span ng-if='info.status!=1'><i class="fa fa-remove"></i></span>
              </td>
              <td class='item-actions'>
                  <a href='#/index/hospital_edit/{{info.id}}'>编辑</a>
                  <a href='#/index/hospital_recommend_edit/{{info.id}}' ng-if='info.is_recommend'>编辑推荐</a>
                  <a href='#/index/hospital_recommend_edit/{{info.id}}' ng-if='!info.is_recommend'>加入推荐</a>
                 <button class='action-btn btn-normal' ng-click='Recommend(info.id, !info.is_recommend)'  ng-if='filters.is_recommend&&info.is_recommend'>取消推荐</button> 

                  <button class='action-btn btn-danger' ng-click='Online(info.id, 1)' ng-if='!info.status==1'>上线</button>
                  <button class='action-btn btn-normal' ng-click='Online(info.id, 0)' ng-if='info.status==1'>下线</button>
              </td>
            </tr>
          </tbody>
        </table>
        <nav>
        <ul class="pagination" ng-if="page_info.total>1">
            <li>
              <a href="#" aria-label="Previous" ng-click='getPage(1)'>
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li ng-repeat="page in page_info.pages">
                <a ng-click='getPage(page)'>{{page}}</a>
            </li>
            <li>
              <a href="#" aria-label="Next" ng-click='getPage(page_info.total)'>
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
    </div>

</div>