

<div class='app-content'>

    <h1>分期选项列表</h1>
    <p class="lead">
        <a href='#/index/new_period_pay_choice'>添加分期选项</a>
    </p>

    <hr>

    <div>
        <table class="table table-hover" ng-if="true" style='margin:0'>
          <thead>
            <tr>
              <th>序号</th>
              <th>期数</th>
              <th>手续费率</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="info in infos">
              <td>{{info.id}}</td>
              <td>{{info.period_count}}</td>
              <td>{{info.period_fee}}</td>
              <td class='item-actions'>
              </td>
            </tr>
          </tbody>
        </table>
        <nav>
        <ul class="pagination" ng-if="page_info.total>1">
            <li>
              <a href="#" aria-label="Previous" ng-click='getPage(1)'>
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li ng-repeat="page in page_info.pages">
                <a ng-click='getPage(page)'>{{page}}</a>
            </li>
            <li>
              <a href="#" aria-label="Next" ng-click='getPage(page_info.total)'>
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
    </div>

</div>