
<div class='app-content'>
    <h1 ng-if='!is_edit'>添加每日优惠券领取</h1>
    <h1 ng-if='is_edit'>编辑每日优惠券领取</h1>

    <hr/>

  <form id='dailycouponform' ng-submit='addItem()'>

      <div class="form-group">
        <label for="">使用条件</label>
        <input type="text" name='use_condition' ng-model='item.use_condition' class="form-control" placeholder="使用条件">
      </div>

     <div class="form-group">
        <label for="">领取总数</label>
        <input type="text" name='total' ng-model='item.total' class="form-control" placeholder="可领取总数">
      </div>

     <div class="form-group">
          <label for="">领取开始日期</label>
          <datetime-field val='item.start_time' fieldname='"start_time"'></datetime-field>
      </div>

      <div class="form-group">
          <label for="">领取结束日期</label>
          <datetime-field val='item.end_time' fieldname='"end_time"'></datetime-field>
      </div>

     <div class="form-group" >
        <label for="">商品优惠券</label>
        <select class="form-group" ng-controller="ngCoupon"
            chosen
            allow-single-deselect="true"
            data-placeholder="选择优惠券"
            no-results-text="'没找到'"
            ng-model="item.coupon_id"
            ng-options="o.id as o.title for o in optionsData"
            style="width:200px;">
            <option value=""></option>
        </select>
        <input type="text" name='coupon_id' ng-model='item.coupon_id' style='display:none;'>
      </div>

      <div class="form-group">
        <label for="">活动宣传语</label>
        <input type="text" name='title' ng-model='item.title' class="form-control" placeholder="宣传语">
      </div>

      <button type="submit" class="btn btn-default" >提交</button>
  </form>
   

</div>