<style>
    .add-promoter-form {
        display: block;
    }
    .add-promoter-toggle {
        font-size: 25px;
        cursor: pointer;
    }
    .add-promoter-form > div {
        margin-bottom: 3px;
    }
</style>

<div class='app-content'>

    <h1>医院管理员列表</h1>
     <a class='add-promoter-toggle' ng-click='toggleUser()'>添加管理员</a>

    <form class="form-inline add-promoter-form" ng-if='tmp' ng-submit='addUser()'>
        <div class='' >
              <input type="text" class="form-control" ng-model='tmp.name' placeholder="登录用户名" required>
        </div>
        <div class="">
              <input type="text" class="form-control" ng-model='tmp.passwd' placeholder="密码" required>
        </div>
        <div class="form-group">
            <select class="form-group" ng-controller="ngHospital"
                chosen
                allow-single-deselect="true"
                data-placeholder="选择医院"
                no-results-text="'没找到医院'"
                ng-model="tmp.hospital_id"
                ng-options="o.id as o.name for o in optionsData"
                style="width:200px;">
                <option value=""></option>
            </select>
            <input type="text" name='hospital_id' ng-model='tmp.hospital_id' style='display:none;'>
        </div>
        <div class="">
            <button type='submit' class="btn btn-default" >添加</button>
        </div>
    </form>

    <hr>

    <form class="form-inline">
  <div class="form-group" ng-controller="ngHospital">
    <select class='form-control' ng-model="filters.hospital_id" ng-options="o.id as o.name for o in optionsData" ng-change="routeTo(1)">
        <option value="">医院</option>
    </select>
  </div>
    </form>

    <div>
        <table class="table table-hover" ng-if="true" style='margin:0'>
          <thead>
            <tr>
              <th>序号</th>
              <th>名称</th>
              <th>医院</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="info in infos">
              <td>{{info.id}}</td>
              <td>{{info.name}}</td>
              <td>
                  <a href='#/index/hospital_edit/{{info.hospital.id}}'>{{info.hospital.name}}</a>
              </td>
              <td class='item-actions'>
              </td>
            </tr>
          </tbody>
        </table>
        <nav>
        <ul class="pagination" ng-if="page_info.total>1">
            <li>
              <a href="#" aria-label="Previous" ng-click='routeTo(1)'>
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li ng-repeat="page in page_info.pages" ng-class="[{active: currentpage==page}]">
                <a ng-click='routeTo(page)' ng-if='page>0'>{{page}}</a>
                <span ng-if='!(page>0)' style='color:gray;'>...</span>
            <li>
            <li>
              <a href="#" aria-label="Next" ng-click='routeTo(page_info.total)'>
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
    </div>

</div>