

<div class='app-content'>

    <h1>问题列表</h1>
    <p class="lead">
        <a href='#/index/new_question'>添加问题</a>

    </p>
    <hr>

    <div>
        <table class="table table-hover" ng-if="true" style='margin:0'>
          <thead>
            <tr>
              <th>序号</th>
              <th>内容</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="info in infos">
              <td>{{info.id}}</td>
              <td>{{info.content}}</td>
              <td class='item-actions'>
                <button class='action-btn btn-danger' ng-click='Online(info.id, 1)' ng-if='info.status==0'>上线</button>
                <button class='action-btn btn-normal' ng-click='Online(info.id, 0)' ng-if='info.status==1'>下线</button>
              </td>
            </tr>
          </tbody>
        </table>
        <nav>
        <ul class="pagination" ng-if="page_info.total>1">
            <li>
              <a href="#" aria-label="Previous" ng-click='routeTo(1)'>
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li ng-repeat="page in page_info.pages" ng-class="[{active: currentpage==page}]">
                <a ng-click='routeTo(page)' ng-if='page>0'>{{page}}</a>
                <span ng-if='!(page>0)' style='color:gray;'>...</span>
            <li>
            <li>
              <a href="#" aria-label="Next" ng-click='routeTo(page_info.total)'>
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
    </div>

</div>