



<div class="dialog-contents">
    <form class='modal-form' id='remark-apply-form' ng-submit="Ok()" >
    <div class='custom-modal-header'>
        <h4>备注申请{{apply_id}}</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
          <label for="">备注图片</label>
          <image-field prefix='"remark_image"' fieldname='"remark_img"' image='remark_img'></image-field>
      </div>
        <p>
            <textarea class="form-control" rows="3" placeholder="请输入备注信息" ng-model='remark_text' name='remark' required/>
        </p>
    </div>
    <div class='modal-footer'>
        <button type="button" ng-click="Cancel()" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="submit"     class="btn btn-danger">确认</button>
    </div>
    </form>
</div>

<style>

.custom-modal-header {
    padding: 5px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-form {
    padding: 0px;
    margin: 0px;
}

.ngdialog-content {
    overflow: hidden;
    width: 500px;
    height: auto;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
    position: absolute;
    display: table;
}

.ngdialog-close {
    position: absolute;
    top: 0px;
    color: gray;
    right: 10px;
    font-size: 30px;
}

</style>
