
<div class='app-content'>
    <h1 ng-if='!is_edit'>编辑推荐商品分类</h1>
    <h1 ng-if='is_edit'>编辑分类</h1>

    <hr/>

  <form id='subcatrecommend' ng-submit='edit()'>

      <div class="form-group">
        <label for="">分类名称</label>
        <a href='#/index/item_edit/{{item.sub_cat.id}}'>{{item.sub_cat.name}}</a>
      </div>

      <div class="form-group">
        <label for="">推荐排序</label>
        <input type="text" name='sort_order' ng-model='item.sort_order' class="form-control" placeholder="推荐排序">
      </div>

      <div class="form-group">
        <label for="">推荐图片</label>
        <image-field fieldname='"icon"' image='item.icon'></image-field>
      </div>

      <button type="submit" class="btn btn-default" >提交</button>
  </form>
   

</div>