<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>创建收红包问题</title>
		<script src="/static/user/js/mui.min.js" type="text/javascript" charset="utf-8"></script>

		<style type="text/css">

		</style>

	</head>

	<body>
			<form  id='newquestionform'>
				<div class="mui-input-row">
					<label>
						<i class="iconfont">&#xe615;</i>
					</label>
					<input type="text" maxlength="11" placeholder="请输入问题内容" name='question'>
				</div>
				<div class="mui-input-row">
					<label>
						<i class="iconfont">&#xe636;</i>
					</label>
					<input type="text" placeholder="请输入答案内容" name='answer'>
				</div>
				<div class="mui-input-row">
                    <label>
                        <i class="iconfont">&#xe615;</i>
                    </label>
                    <input type="text" maxlength="11" placeholder="请输入红包金额" name='price'>
                </div>
                <div class="mui-input-row">
                    <label>
                        <i class="iconfont">&#xe636;</i>
                    </label>
                    <input type="text" placeholder="是否自定义" name='is_custom'>
                </div>
                <div class="mui-input-row">
                    <label>
                        <i class="iconfont">&#xe636;</i>
                    </label>
                    <input type="text" placeholder="是否随机" name='is_random'>
                </div>
			</form>

			<button id='submit'>提交</button>

		</div>
        <script src='/static/user/js/util.js'></script>
		<script src='/static/user/js/jquery.min.js'></script>
		<script>
		$.fn.serializeObject = function()
        {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function() {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

		$(document).ready(function(){ 
            $('#submit').click(function() {
                var question    = $('#question').val();
                var answer      = $('#answer').val();
                var price       = $('#price').val();
                var is_random       = $('#is_random').val();
                var is_custom       = $('#is_custom').val();
                var data    = $('#newquestionform').serializeObject();
                data['open_id'] = 'o56qvw-ThtwfthGGlZ-XbH-3fjRc';
                $.ajax({

                     type: 'POST',
                
                     url: '/user/new_question_post/' ,
                
                    data: data ,
                
                    success: function (data) {
                            if(data.code!=0) {
                            
                                alert(data.msg)
                            } else {
                                window.location = '/user/question_detail/?user_question_id=' + (data.user_question_id);
                            };
                    } ,
                
                    dataType: 'json'
                
                });

                
            })
        }); 


		</script>
	</body>
</html>